!!! 5
%html{lang: "ja"}
  %head
    = tag(:meta, charset: "UTF-8")
    = favicon_link_tag
    = csrf_meta_tag
    = stylesheet_link_tag :application
    = content_tag(:title, html_title)
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to((content_tag(:span, "", class: "icon-bar") * 3).html_safe, "#", class: "btn btn-navbar", :data => {:toggle => "collapse", :target => ".nav-collapse"})
          = link_to(AppConfig[:app_name], :root, class: "brand")
          %ul.nav
            %li
              = link_to(bootstrap_icon(:edit), [:new, :article])
          = form_tag(:articles, :method => :get, class: "navbar-search pull-right") do
            = search_field_tag :query, params[:query], class: "search-query", placeholder: "検索"
    .container-fluid
      .row-fluid
        .span12
          - if notice
            %p#notice
              = notice
          = yield
    %footer.footer
      .container-fluid
        %p
          = "Powered by Rails #{Rails.version} and Ruby #{RUBY_VERSION}"
    = javascript_include_tag(:application)
